<h1>HELLO</h1>

<p>
    HELLO <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    HELLO {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
