<!-- CSS -->
<link href="{{ asset('./assets/css/footer.css') }}" rel="stylesheet" />

<footer>
    <p><b>© Copyright @ 2024 par <span style="color: #d7df22;">Cabinet PAGOS</span> | tous droits réservés.</b></p>
</footer>