body {
    font-family: 'Helvetica', Arial, sans-serif;
}
/* Navbar */
.navbar-custom {
    background-color: #818285;
    border-style: none;
}

.navbar-custom .nav-link {
    color: #ffffff;
    font-size: 19px;
}

.navbar-custom .nav-link:hover {
    color: #000000;
}

.img-navbar {
    width: 100%;
    height: 80px;
}

.navbar-toggler-icon {
    color: white;
}

.dropdown-menu {
    background-color: #818285;
}

.dropdown-menu .dropdown-header {
    color: #ffffff;
    font-size: 16px;
}

.dropdown-menu .dropdown-item {
    color: #ff0000;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #818285;
    color: #ffffff;
}

.container-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    max-width: 1400px;
}

.custom-rectangle {
    position: relative;
    border: 2px solid #000;
    padding: 25px;
    margin: 20px;
    width: 100%;
    max-width: 515px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.custom-rectangle h2 {
    text-align: center;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    margin-bottom: 20px;
    background-color: #d7df22;
    font-size: 20px;
}

.custom-rectangle h3,
.custom-rectangle h4,
.custom-rectangle h5 {
    font-size: 15px;
}

.custom-rectangle h4 {
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    color: #000000;
}

.custom-rectangle .btn-group {
    width: 100%;
}

.custom-rectangle .btn-secondary {
    border: 1px solid black;
    margin-right: 10px;
    background-color: #fff;
    color: #000;
    border-radius: 0;
}

.custom-rectangle .btn-secondary:last-child {
    margin-right: 0;
}

.custom-rectangle hr {
    margin: 20px 0;
    opacity: 1;
    border: 2px solid #000;
}

hr {
    margin: 20px 0;
    opacity: 1;
    border: 2px solid #000;
}

.bottom-rectangle {
    border-radius: 0;
}

/* Logo */
.logo-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
    background-color: #fff; /* Fond blanc */
    border-radius: 50%; /* Forme circulaire */
    margin: 20px; /* Marges pour espacer des blocs */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Ombre pour le relief */
}

.client-logo {
    max-width: 70%; /* Limiter la largeur du logo */
    max-height: 70%; /* Limiter la hauteur du logo */
    object-fit: contain; /* Garder le ratio du logo */
}

/* Task Container */
.task-container {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px 0;
    width: 100%;
}

.task {
    margin-bottom: 20px;
    position: relative;
}

.total-taches {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

/* Button Styles */
.btn-secondary {
    background-color: #818285; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    border: 2px solid #000; /* Bordure du bouton */
    padding: 10px 20px; /* Espacement interne du bouton */
    font-size: 16px; /* Taille de la police */
    border-radius: 50px; /* Bordures arrondies */
    transition: all 0.3s ease; /* Transition pour les effets de survol */
}

.btn-secondary:hover {
    background-color: #6c757d; /* Couleur de fond au survol */
    color: #fff; /* Couleur du texte au survol */
    transform: translateY(-3px); /* Effet de levée au survol */
    border-color: #6c757d; /* Couleur de bordure au survol */
}

/* Center Button */
.center-button {
    display: flex;
    justify-content: center; /* Centre les boutons */
    gap: 15px; /* Espace entre les boutons */
    margin: 20px;
}

.center-button .btn-secondary {
    background-color: #fff;
    color: #000;
    border: 1px solid black;
    margin-right: 10px;
    padding: 10px 20px; /* Espacement interne du bouton */
    font-size: 16px; /* Taille de la police */
    border-radius: 5px;
    transition: all 0.3s ease; /* Transition pour les effets de survol */
}

.center-button .btn-secondary:hover {
    background-color: #6c757d; /* Couleur de fond au survol */
    color: #fff; /* Couleur du texte au survol */
    transform: translateY(-3px); /* Effet de levée au survol */
    border-color: #6c757d; /* Couleur de bordure au survol */
}

/* Info Icon Hover */
.info-icon {
    cursor: pointer;
    color: #007bff;
    margin-left: 5px;
    font-size: 14px;
    position: relative;
}

.description {
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 8px;
    z-index: 10;
    max-width: 500px;
    width: auto;
    word-wrap: break-word;
    position: absolute;
    left: 50%; /* Centrer la description */
    transform: translateX(-50%); /* Assurer que la description reste bien centrée */
    top: 100%;
    white-space: normal;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
    overflow-wrap: break-word;
}

.info-icon:hover .description {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

/* BLOC STATISTIQUE */
.custom-rectangle-statistic {
    position: relative;
    border: 2px solid #000;
    padding: 25px;
    margin: 20px;
    width: 100%;
    max-width: 515px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* Deux colonnes */
    gap: 10px;  /* Espacement entre les icônes */
}

.icon-container {
    display: flex;
    flex-direction: column; /* Affiche le contenu en colonne */
    align-items: center; /* Centre horizontalement */
}

.black-block {
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Affiche le contenu en colonne */
    justify-content: center;
    align-items: center;
    width: 80px;  /* Largeur des icônes */
}

.green-block {
    background-color: green;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Affiche le contenu en colonne */
    justify-content: center;
    align-items: center;
    width: 80px;  /* Largeur des icônes */
}

.red-block {
    background-color: red;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Affiche le contenu en colonne */
    justify-content: center;
    align-items: center;
    width: 80px;  /* Largeur des icônes */
}

.iconeTheme {
    font-size: 60px;
    color: #FF0000;
}

.light-circle-npc {
    position: absolute;
    top: 20px;  /* Ajustez cette valeur en fonction de la position de la lumière supérieure */
    width: 15px;
    height: 15px;
    background-color: #FF0000;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 2px #000000;
}

.light-circle-pc {
    position: absolute;
    top: 36px;  /* Ajustez cette valeur en fonction de la position de la lumière supérieure */
    width: 15px;
    height: 15px;
    background-color: #FFA500;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 2px #000000;
}

.light-circle-t {
    position: absolute;
    top: 52px;  /* Ajustez cette valeur en fonction de la position de la lumière supérieure */
    width: 15px;
    height: 15px;
    background-color: #008000;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 2px #000000;
}

.status-text h5 {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 15px;
}

.statistic-value {
    background-color: red;
    color: white;
    font-size: 13px;
    padding: 2px 2px;
    position: absolute;
    top: -5px;
    right: -20px;
    height: 25px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #FFF;
}

/* WEBTASK STYLE */
.container-task {
    display: flex;
    flex-wrap: wrap; /* Permet plusieurs colonnes */
    justify-content: center; /* Centre le contenu */
    margin: 20px;
}

/* Custom Rectangle */
.custom-task {
    position: relative;
    border: 2px solid #000;
    padding: 25px;
    margin: 20px;
    width: 100%;
    max-width: 430px; /* Réduit la largeur maximale */
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Empêche le débordement du texte */
}

.custom-task h2 {
    text-align: center;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    background-color: #d7df22;
    font-size: 18px; /* Réduit la taille de la police du titre */
    white-space: normal; /* Permet le retour à la ligne */
    margin-bottom: 20px;
    overflow: visible; /* Permet d'afficher le texte complet */
    text-overflow: clip; /* Ne coupe pas le texte avec des points de suspension */
    display: block; /* Assure que le texte utilise text-overflow */
}

/* Button Styles */
.container-task .btn-secondary {
    background-color: #fff;
    color: #000;
    border: 1px solid black;
    margin-right: 10px;
    padding: 10px 20px; /* Espacement interne du bouton */
    font-size: 16px; /* Taille de la police */
    border-radius: 5px;
    transition: all 0.3s ease; /* Transition pour les effets de survol */
}

.container-task .btn-secondary:hover {
    background-color: #6c757d; /* Couleur de fond au survol */
    color: #fff; /* Couleur du texte au survol */
    transform: translateY(-3px); /* Effet de levée au survol */
    border-color: #6c757d; /* Couleur de bordure au survol */
}

.container-task .btn-group {
    display: flex;
    justify-content: center; /* Centre les boutons */
    gap: 15px; /* Espace entre les boutons */
    margin-top: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
}

footer p {
    color: #333;
}