/* Center Button */
.center-button {
    display: flex;
    justify-content: center; /* Centre les boutons */
    gap: 15px; /* Espace entre les boutons */
    margin: 20px 0; /* Espace vertical */
}

.center-button .btn-secondary {
    background-color: #007bff; /* Couleur des boutons */
    color: #fff;
    border: none;
    padding: 10px 20px; /* Espacement interne du bouton */
    font-size: 16px; /* Taille de la police */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre du bouton */
    transition: all 0.3s ease; /* Transition pour les effets de survol */
}

.center-button .btn-secondary:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
    transform: translateY(-3px); /* Effet de levée au survol */
}

.center-button .btn-warning {
    color: #fff;
    border: none;
    padding: 10px 20px; /* Espacement interne du bouton */
    font-size: 16px; /* Taille de la police */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre du bouton */
    transition: all 0.3s ease; /* Transition pour les effets de survol */
}

.center-button .btn-warning:hover {
    transform: translateY(-3px); /* Effet de levée au survol */
}